<footer class="py-5">
  <div class="container">
    <div class="row justify-content-between">
      <!-- Logo Column -->

            <!-- Social Links Column -->
      <div class="col-12 col-lg-3">
        <div class="text-start">
          <ul class="list-unstyled d-flex justify-content-start gap-3">
            <li>
              <a href="https://www.linkedin.com/company/novahub-ai/" target="_blank" class="text-decoration-none">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
            <li>
              <a href="https://instagram.com/ai.matn" target="_blank" class="text-decoration-none">
                <i class="fab fa-instagram"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>

            
      <!-- Description Column -->
      <div class="col-12 col-lg-6">
        <div class="text-end">
          <p class="text-muted mb-0">
          </p>
        </div>
      </div>


      <div class="col-12 col-lg-3">
        <div class="text-end">
          <img src="{{ url_for('static', filename='images/main_logo.png') }}" width="128" alt="Matn.ai Logo" />
        </div>
      </div>


    </div>

    <!-- Bottom Footer -->
    <div class="border-top mt-5 pt-4">
      <div class="row align-items-center">

        <!-- Links -->
        <div class="col-md-6">
          <div class="d-flex justify-content-start gap-3">
            <a href="#" class="text-decoration-none text-muted">
            درباره ما  
            </a>
            <span class="text-muted">•</span>
            <a href="#" class="text-decoration-none text-muted">داشبورد توسعه‌دهندگان</a>
            <a href="#" class="text-decoration-none text-muted">قیمت‌گذاری</a>
            <a href="https://t.me/MatnAIBot" class="text-decoration-none text-muted">ربات تلگرام</a>
          </div>
        </div>

        
        <!-- Copyright -->
        <div class="col-md-6">
          <p class="text-muted text-end mb-0">
            Copyright ©2024 Matn.AI Team Limited
          </p>
        </div>
        
      </div>
    </div>
  </div>
</footer>