{% extends "dashboard/dashboard.html" %}
{% block dashboard %}
    <style>
        .card-title {
            font-size: 14px;
            font-weight: bold;
        }
        .word-count {
            text-align: right;
            margin-top: 5px;
        }
        .loading-overlay {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(255, 255, 255, 0.8);
            z-index: 10;
            display: none;
            align-items: center;
            justify-content: center;
        }
        .btn-spinner {
            display: none;
        }
        .loading-spinner {
            border: 4px solid transparent;
            border-top: 4px solid #000;
            border-radius: 50%;
            width: 24px;
            height: 24px;
            animation: spin 1s linear infinite;
        }
        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
        .model-card {
            display: flex;
            align-items: center;
        }
        .model-info {
            flex-grow: 1;
        }
    </style>
    <div class="row">
        <div class="col-12 mr-auto mx-auto mb-3">
            <div class="d-flex">
                <div class="p-2">
                    <h4 class="">ترجمه به فارسی</h4>
                </div>
                <div class="p-2">
                    <span class="d-block mb-3 px-2 py-1 fw-semibold text-success-emphasis bg-success-subtle border border-success-subtle rounded-2">
                        {% if translated_data is not none and content is not none %}
                        {{ content.word_count | to_persian_num }} کلمه
                        {% else %}                    
                        فایل
                        {% endif %}
                        
                    </span>
                </div>
                <div class="p-2 ms-auto">
    
                        {% if translated_data is not none and content  is not none %}
                        <span class="d-inline-flex mb-3 px-2 py-1 fw-semibold text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-2">
                            تاریخ ایجاد: 
                            {{ content.timestamp | gregorian_to_jalali_detail }}
                        </span>
                        {% endif %}
                </div>
    
                <div class="p-2" >
                    {% if content %}
                    <span class="d-inline-flex mb-3 px-2 py-1 fw-semibold text-success-emphasis bg-success-subtle border border-success-subtle rounded-2" >
                        مدل: 
                            {{content.get_input('llm_model')}}
                    </span>
                    {% else %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div id="form-container">
            <form id="translation-form" method="POST" onsubmit="submitFormViaAjax(); return false;">
                {{ form.hidden_tag() }}
                <div class="row">
                    <div class="col">
                        <div class="bg-white mr-auto mx-auto rounded p-4 card-shadow w-100 position-relative">
                            <label class="label mb-2 small">
                                متنی که می‌خواهید به فارسی ترجمه شود را اینجا قرار دهید
                            </label>
                            {{ form.text_to_translate(class="form-control", id="input-text-area", style="height: 350px; direction: ltr;") }}
                            <div class="w-100">
                                <span class="badge text-bg-light word-count" id="input-word-count">کلمات: ۰</span>
                            </div>
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="mb-4 mt-4">
                                            <div class="w-100 p-3 pb-1 text-right">مدل زبانی را انتخاب کنید</div>
                                            <div class="w-100 pt-2">
                                                <div class="row row-cols-2 g-2">
                                                    <div class="col-6">
                                                        <div class="card-body">
                                                            <input type="radio" class="btn-check" value="gpt-4o" name="llm_model" id="gpt4-outlined" autocomplete="off" checked>
                                                            <label class="btn btn-outline-primary w-100 p-0" for="gpt4-outlined">
                                                                <div class="model-card">
                                                                    <img src="/static/images/logo-gpt4.jpeg" alt="OpenAI" class="rounded m-1 me-2" style="height: 54px;">
                                                                    <div class="model-info">
                                                                        <p class="card-title m-0 p-0">OpenAI GPT-4o</p>
                                                                        <div class="small mt-1">ضریب کلمه: ۵</div>
                                                                    </div>
                                                                </div>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="card-body">
                                                            <input type="radio" class="btn-check" value="gpt-3.5-turbo" name="llm_model" id="gpt3.5-outlined" autocomplete="off">
                                                            <label class="btn btn-outline-primary w-100 p-0" for="gpt3.5-outlined">
                                                                <div class="model-card">
                                                                    <img src="/static/images/logo-gpt3.5.jpeg" alt="OpenAI" class="rounded m-1 me-2" style="height: 54px;">
                                                                    <div class="model-info">
                                                                        <p class="card-title m-0 p-0">OpenAI GPT-3.5</p>
                                                                        <div class="small mt-1">ضریب کلمه: ۱</div>
                                                                    </div>
                                                                </div>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="card-body">
                                                            <input type="radio" class="btn-check" value="claude-3-haiku" name="llm_model" id="claude3-haiku-outlined" autocomplete="off">
                                                            <label class="btn btn-outline-primary w-100 p-0" for="claude3-haiku-outlined">
                                                                <div class="model-card">
                                                                    <img src="/static/images/logo-claude.jpeg" alt="Haiku" class="rounded m-1 me-2" style="height: 54px;">
                                                                    <div class="model-info">
                                                                        <p class="card-title m-0 p-0">Claude 3 Haiku</p>
                                                                        <div class="small mt-1">ضریب کلمه: ۱</div>
                                                                    </div>
                                                                </div>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="card-body">
                                                            <input type="radio" class="btn-check" value="claude-3.5-sonnet" name="llm_model" id="claude3-sonnet-outlined" autocomplete="off">
                                                            <label class="btn btn-outline-primary w-100 p-0" for="claude3-sonnet-outlined">
                                                                <div class="model-card">
                                                                    <img src="/static/images/logo-claude.jpeg" alt="Sonnet" class="rounded m-1 me-2" style="height: 54px;">
                                                                    <div class="model-info">
                                                                        <p class="card-title m-0 p-0">Claude 3 Sonnet</p>
                                                                        <div class="small mt-1">ضریب کلمه: ۴</div>
                                                                    </div>
                                                                </div>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-end mt-3">
                                <button type="submit" class="btn btn-success btn-lg">
                                    <span class="btn-text">شروع ترجمه

                                        <i class="fa fa-arrow-left ms-2"></i>
                                    </span>
                                    <span class="btn-spinner">
                                        <div class="loading-spinner"></div>
                                    </span>
                                </button>
                            </div>
                            <div class="loading-overlay">
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="bg-white mr-auto mx-auto rounded p-4 card-shadow w-100 position-relative" id="output-container">
                            {{ form.body(id="output-text-area", class="form-control bg-light", style="min-height: 680px;", readonly=True) }}
                            <div class="w-100">
                                <span class="badge text-bg-light word-count" id="output-word-count">کلمات: ۰</span>
                            </div>
                            <div class="loading-overlay">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ckeditor.js') }}"></script>

    <script>
        $(document).ready(function() {
            // Check if the element exists before initializing CKEditor
            if ($('#output-text-area').length) {
                ClassicEditor
                    .create(document.querySelector('#output-text-area'), {
                        toolbar: ['undo', 'redo', 'bold', 'italic', 'numberedList', 'bulletedList'],
                        language: "fa",
                        height: 700
                    })
                    .then(newEditor => {
                        editor = newEditor;
                    })
                    .catch(error => {
                        console.error(error);
                    });
            } else {
                console.error('Element #output-text-area not found in DOM.');
            }

            function toPersianNumber(number) {
                const persianMap = {
                    '0': '۰', '1': '۱', '2': '۲', '3': '۳', '4': '۴',
                    '5': '۵', '6': '۶', '7': '۷', '8': '۸', '9': '۹'
                };
                return number.toString().split('').map(char => persianMap[char] || char).join('');
            }

            function updateWordCount(textAreaId, countId) {
                try {
                    var text = $(`#${textAreaId}`).val();
                    var wordCount = text.trim().split(/\s+/).filter(word => word.length > 0).length;
                    $(`#${countId}`).text("کلمات: " + toPersianNumber(wordCount));
                } catch (error) {
                    console.error(error);
                }
            }

            
            $("#input-text-area").on("input", function() {
                updateWordCount("input-text-area", "input-word-count");
            });

            $("#output-text-area").on("input", function() {
                updateWordCount("output-text-area", "output-word-count");
            });

            // Initial word count update
            updateWordCount("input-text-area", "input-word-count");
            updateWordCount("output-text-area", "output-word-count");

            window.submitFormViaAjax = function() {
                var $form = $("#translation-form");
                $.ajax({
                    type: $form.attr("method"),
                    url: $form.attr("action"),
                    data: $form.serialize(),
                    beforeSend: function() {
                        $("#input-text-area").prop("disabled", true);
                        $("#output-text-area").prop("readonly", true);
                        $(".btn-spinner").show();
                        $(".btn-text").hide();
                        $(".loading-overlay").show();
                    },
                    success: function(response) {
                        // Assuming the response contains the translated text
                        $("#output-text-area").html(response.translated_text);
                        editor.setData(response.translated_text);
                    },
                    complete: function() {
                        $("#input-text-area").prop("disabled", false);
                        $("#output-text-area").prop("readonly", false);
                        $(".btn-spinner").hide();
                        $(".btn-text").show();
                        $(".loading-overlay").hide();

                        updateWordCount("output-text-area", "output-word-count");
                    },
                    error: function() {
                        alert("خطایی رخ داده است. لطفا دوباره تلاش کنید.");
                    }
                });
            }
        });
    </script>
{% endblock %}