<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}به‌نویس - نویسنده‌ی هوشمند{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.rtl.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/fontawesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/solid.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/brands.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tagify.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/flag-icons.min.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/AdrianVillamayor/Wizard-JS@1.9.9/styles/css/main.css">
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>

</head>
<body>
    
    <header>
        {% include 'partials/_header.html' %}
    </header>

    <main>
        <!-- Container for Toast Messages -->
        <div aria-live="polite" aria-atomic="true" class="position-relative">
            <!-- Position it -->
            <div class="toast-container position-fixed bottom-0 start-0 p-3">
                <!-- Toast Notifications -->
                {% for message in get_flashed_messages() %}
                <div class="toast text-bg-primary border-0" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="5000">
                    <div class="d-flex">
                        <div class="toast-body">
                            {{ message }}
                        </div>
                        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        {% include 'partials/_footer.html' %}
    </footer>


<script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='fontawesome/js/all.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/lottie-player.js') }}"></script>
<script src="https://cdn.jsdelivr.net/gh/AdrianVillamayor/Wizard-JS@1.9.9/src/wizard.min.js"></script>

<script>
    // Initialize Bootstrap Toasts
    document.addEventListener('DOMContentLoaded', function() {
        var toastElements = document.querySelectorAll('.toast');
        toastElements.forEach(function (toastElement) {
            var toast = new bootstrap.Toast(toastElement);
            toast.show();
        });
    });
</script>
</body>


</html>