{% extends "base.html" %}

{% block content %}

<section class="heading_one">
    <div class="container position-relative">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-12 text-center">
                <h2 class="heading_one-heading mb-4">هوش مصنوعی متن، دستیار تولید محتوا</h2>
                <p class="heading_one-sub-heading px-5">
                    با ابزار های هوشمند مصنوعی فارسی متن، با کمترین زمان و هزینه<br /> به محتوای خلاقانه خود دست پیدا
                    کنید
                </p>
                <a href="{{ url_for('auth.login') }}" class="btn btn-light heading_one-btn fs-5 mt-4 mt-md-5"><span
                        class="fas fa-arrow-left me-2"></span>امتحان کنید</a>
            </div>
            <div class="col-lg-10 mt-5">
                <img src="/static/images/matn_ai_head2.jpg" alt="" class="img-fluid heading_one-feature-img" />
            </div>
        </div>
    </div>
</section>



<section class="headingTwo">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-12 col-md-6">
                <h3 class="mb-4 text-primary">
                    تولید محتوا با هوش مصنوعی متن</h3>
                <h2 class="headingTwo-heading mb-4">
                    ابزار های هوش مصنوعی متن، چگونه به شما کمک میکند؟
                </h2>

                <p class="headingTwo-sub-heading">
                    مجموعه ابزار های هوش مصنوعی متن به شما کمک میکند تا بدون صرف هزینه و زمان زیاد با قوائدی درست به
                    محتوای مورد نظرخودتون برسید. ما اینجا به شما متنی که توسط ربات نوشته شده نمیدیم محتوایی خلاقانه
                    دقیقا مشابه نوشتار شما خروجی سرویس های ما برای شماست.
                    .با دو قدم ساده به محتوای مورد نظرتون برسید
                    <br>
                    قدم اول انتخاب سرویس تولید محتوا
                    <br>
                    قدم دوم ورود اطلاعات مورد نیازتون
                    <br>
                    در آخر ما محتوای مورد نظر شما را با رعایت قوانین که مد نظرتون هست را به شما نمایش میدهیم.
                    <br>
                    مثلا در تولید محتوای وبلاگ ما موارد زیر را رعایت میکنیم: دوری از متن‌های کلیشه‌ای، املای صحیح، رعایت
                    قواعد نگارشی دستور زبان فارسی، توانایی نوشتن محتوا بر اساس لینک‌ها یا فایل‌های ورودی و ارائه عکس از
                    جمله امکانات نویسنده‌ی هوش مصنوعی متن است.

            </div>
            <!-- image -->
            <div class="col-12 col-md-5 position-relative">
                <a class="headingTwo-play mb-4"><i class="fa-solid fa-play"></i></a>
                <img src="https://cdn.easyfrontend.com/pictures/blog/blog_13_3.jpg" alt=""
                    class="img-fluid my-5 my-md-0" />

                <!-- <video controls class="img-fluid my-5 my-md-0">
                    <source src="{{ url_for('static', filename='media/intro.mp4') }}" type="video/mp4">
                    Your browser does not support the video tag.
                </video> -->
            </div>

        </div>
        <!-- cards -->
        <div class="row mt-5">
            <!-- card starts -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="p-xl-3 mt-4">
                    <div class="mb-3 text-center">

                        <img src="{{ url_for('static', filename='images/1.png') }}" width="90%" />
                    </div>

                    <h4 class="headingTwo-title fs-4 mb-3">نوشتن مقالات</h4>
                    <p class="headingTwo-content mb-0">
                        با کمک متن، مقالاتی بی‌نظیر و کاملاً بهینه‌شده برای سئو بنویسید. شما می‌توانید با وارد کردن
                        اطلاعات مورد نیاز، متنی فوق‌العاده و دقیق و کاملاً بهینه‌شده برای سئو دریافت کنید
                    </p>
                    <div style="text-align: left;" class="mt-3">
                        <a href="#" class="btn btn-link text-decoration-none">بیشتر بخوانید</a>
                    </div>

                </div>
            </div>
            <!-- card ends -->
            <!-- card starts -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="p-xl-3 mt-4">
                    <div class="mb-3 text-center">

                        <img src="{{ url_for('static', filename='images/2.png') }}" width="90%" />
                    </div>

                    <h4 class="headingTwo-title fs-4 mb-3">توصیف محصول</h4>
                    <p class="headingTwo-content mb-0">
                        برای توصیف محصول، محتوایی جذاب و دقیق تولید کنید. محتوایی جذاب و دقیق تولید کنید. متن به شما
                        کمک می‌کند تا ویژگی‌ها و مزایای محصولات را به بهترین شکل ممکن بیان کنید.
                    </p>
                    <div style="text-align: left;" class="mt-3">
                        <a href="#" class="btn btn-link text-decoration-none">بیشتر بخوانید</a>
                    </div>

                </div>
            </div>
            <!-- card ends -->
            <!-- card starts -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="p-xl-3 mt-4">
                    <div class="mb-3 text-center">

                        <img src="{{ url_for('static', filename='images/3.png') }}" width="90%" />
                    </div>
                    <h4 class="headingTwo-title fs-4 mb-3">پردازش ایده</h4>
                    <p class="headingTwo-content mb-0">
                        متن در پردازش ایده‌های نوآورانه و تبدیل آنها به محتوای باکیفیت به شما کمک می‌کند. با
                        متن، ایده‌های خود را به راحتی به محتوای قابل استفاده تبدیل کنید.
                    </p>
                    <div style="text-align: left;" class="mt-3">
                        <a href="#" class="btn btn-link text-decoration-none">بیشتر بخوانید</a>
                    </div>
                </div>
            </div>
            <!-- card ends -->
            <!-- card starts -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="p-xl-3 mt-4">
                    <div class="mb-3 text-center">

                        <img src="{{ url_for('static', filename='images/4.png') }}" width="90%" />
                    </div>
                    <h4 class="headingTwo-title fs-4 mb-3"> خلاصه کتاب یا PDF</h4>
                    <p class="headingTwo-content mb-0">

                        محتوای خلاصه شده و مفید از کتاب‌ها یا فایل‌های PDF را با متن تهیه کنید. این ابزار به شما
                        امکان می‌دهد تا به سرعت محتوای خلاصه و کارآمد ایجاد کنید.
                    </p>
                    <div style="text-align: left;" class="mt-3">
                        <a href="#" class="btn btn-link text-decoration-none">بیشتر بخوانید</a>
                    </div>
                </div>
            </div>
            <!-- card ends -->
            <!-- card starts -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="p-xl-3 mt-4">
                    <div class="mb-3 text-center">

                        <img src="{{ url_for('static', filename='images/5.png') }}" width="90%" />
                    </div>
                    <h4 class="headingTwo-title fs-4 mb-3">شبکه‌های اجتماعی</h4>
                    <p class="headingTwo-content mb-0">
                        برای پست‌های شبکه‌های اجتماعی، محتوای بهینه و به دور از کلیشه تولید کنید. متن به شما کمک
                        می‌کند تا محتوای مناسب و مؤثر برای افزایش تعامل کاربران در شبکه‌های اجتماعی بنویسید.
                    </p>
                    <div style="text-align: left;" class="mt-3">
                        <a href="#" class="btn btn-link text-decoration-none">بیشتر بخوانید</a>
                    </div>

                </div>
            </div>
            <!-- card ends -->
            <!-- card starts -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="p-xl-3 mt-4">
                    <div class="mb-3 text-center">

                        <img src="{{ url_for('static', filename='images/6.png') }}" width="90%" />
                    </div>
                    <h4 class="headingTwo-title fs-4 mb-3">ترجمه</h4>
                    <p class="headingTwo-content mb-0">
                        استفاده از قابلیت‌های ترجمه متن برای تولید محتوای چند زبانه، با خوانش راحت و دقیق. با
                        متن می‌توانید محتوای خود را به زبان‌های مختلف ترجمه کرده و در دسترس مخاطبان بیشتری قرار
                        دهید.
                    </p>
                    <div style="text-align: left;" class="mt-3">
                        <a href="#" class="btn btn-link text-decoration-none">بیشتر بخوانید</a>
                    </div>

                </div>
            </div>
            <!-- card ends -->
        </div>
    </div>
</section>




<section class="pricing position-relative">
    <div style="position: absolute; z-index: 0;">
        <lottie-player class="p-0" src="{{ url_for('static', filename='media/brain.json') }}"
            background="transparent" speed="1" loop autoplay></lottie-player>
    </div>
    <div class="container" >
        <div class="row mb-5">
            <div class="col-lg-12 text-center">
                <h2 class="pricing-heading mb-0">بررسی و خرید راحت</h2>
            </div>
        </div>
        <div class="row align-items-start position-relative" style="z-index: 9;">
            <div class="col-md-7">
                <div class="w-100 mb-4 rounded p-3 fs-5" style="background-color: rgba(255,255,255,0.8);">
                    به سادگی می‌توانید تعداد کلماتی که نیاز دارید را خریداری کنید و در ابزارهای مختلف از آن‌ها استفاده نمایید. توجه داشته باشید که مصرف کلمات در سرویس‌های مختلف هوش مصنوعی متغیر است و باید این موضوع را مدنظر داشته باشید.
                    <br/>
                    <br/>
                    هر ابزار و سرویس هوش مصنوعی دارای ویژگی‌ها و نیازهای متنوعی است که بسته به نوع پروژه و کاربری شما، ممکن است میزان متفاوتی از کلمات را مصرف کند. بنابراین با خرید بسته‌های کلمه‌ای متناسب با نیاز خود، می‌توانید بهره‌وری و کارایی پروژه‌های خود را به حداکثر برسانید.
                    <br/>
                    
                    <br />
                    برای تست و بررسی سرویس ما پس از ثبت نام شما ۵۰۰۰ کلمه رایگان از ما هدیه میگیرید.


                </div>

            </div>
            <div class="col-md-5 ">
                <div class="rounded bg-white p-4">
                    <div class="w-100 mb-4">
                        <div class="text-center">
                            <span class="badge badge-primary text-dark"> کلمه</span>
                            <div id="rangeThumb" class="range-thumb rounded p-2 bg-light fs-4" style="right: 0%;">۲۰۰۰
                            </div>
                        </div>
                        <div class="text-center">
                            <span class="badge badge-primary text-dark"> قیمت هر کلمه</span>
                            <div id="pricePerWord" class="text-muted rounded p-2 bg-light fs-4"> ۲۰
                            </div>
                        </div>
                    </div>

                    <div class="range-slider mb-4 text-center mt-4 pt-4">
                        <label for="wordCountSlider" class="form-label">تعداد کلمات مورد نیاز</label>
                        <input id="wordCountSlider" type="range" class="form-range" min="2000" max="100000" value="2000"
                            oninput="updatePrice()">
                    </div>

                    <div class="text-center mt-4 pt-4">
                        <span class="badge badge-primary text-dark"> جمع</span>
                        <div id="total" class="font-weight-bold fs-4">۴۰٬۰۰۰ تومان</div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    function updatePrice() {
        const rangeValue = document.getElementById('wordCountSlider').value;
        let pricePerWord;

        if (rangeValue <= 19999) {
            pricePerWord = 15;
        } else if (rangeValue <= 39999) {
            pricePerWord = 14;
        } else if (rangeValue <= 59999) {
            pricePerWord = 13;
        } else if (rangeValue <= 79999) {
            pricePerWord = 12;
        } else {
            pricePerWord = 10;
        }

        const totalPrice = rangeValue * pricePerWord;
        document.getElementById('pricePerWord').textContent = `${parseInt(pricePerWord).toLocaleString('fa-IR')}`;
        document.getElementById('total').textContent = `${totalPrice.toLocaleString('fa-IR')} تومان`;
        document.getElementById('rangeThumb').style.right = `${((rangeValue - 2000) / 98000) * 100}%`;
        //        document.getElementById('rangeValue').textContent = rangeValue.toLocaleString('fa-IR');

        document.getElementById('rangeThumb').textContent = parseInt(rangeValue).toLocaleString('fa-IR');
    }

    document.addEventListener('DOMContentLoaded', () => {
        updatePrice();
    });
</script>

{% endblock %}