{% extends "base.html" %}

{% block content %}

<section class="dashboard">
    <div class="container">
        <div class="row">
<h3>سیاست حفظ حریم خصوصی</h3>

<h4>مقدمه</h4>
<p>این سیاست حفظ حریم خصوصی توضیح می‌دهد که چگونه سایت هوش مصنوعی ما اطلاعات شخصی شما را جمع‌آوری، استفاده و محافظت می‌کند. هدف ما از ارائه این سیاست، شفافیت در مورد نحوه مدیریت اطلاعات شما و ایجاد اعتماد به نحوه حفظ حریم خصوصی شماست.</p>

<h4>جمع‌آوری اطلاعات</h4>
<p>ما ممکن است اطلاعات شخصی شما را به چند روش مختلف جمع‌آوری کنیم:</p>

<ul>
    <li><strong>اطلاعاتی که شما مستقیماً به ما می‌دهید:</strong> مانند آدرس ایمیل، و سایر اطلاعات تماس که شما هنگام ثبت‌نام یا استفاده از خدمات ما وارد می‌کنید.</li>
    <li>اطلاعاتی که به صورت خودکار جمع آوری میشود: این اطلاعات شامل موقعیت جغرافیایی و … اس که توسط سایت ها و ابزار ها روی سایت به دست می آید.</li>
</ul>

<h4>استفاده از اطلاعات</h4>
<p>ما از اطلاعات جمع‌آوری‌شده به منظور:</p>

<ul>
    <li>ارائه و بهبود خدمات ما</li>
    <li>پاسخگویی به درخواست‌ها و سوالات شما</li>
    <li>ارسال اطلاعات و به‌روزرسانی‌های مربوط به خدمات</li>
    <li>شخصی‌سازی تجربه شما در سایت</li>
</ul>

<h4>حفاظت از اطلاعات</h4>
<p>ما از اقدامات امنیتی مناسب برای حفاظت از اطلاعات شما در برابر دسترسی غیرمجاز، تغییر، افشا یا تخریب استفاده می‌کنیم. این اقدامات شامل استفاده از پروتکل‌های امنیتی SSL و سایر فناوری‌های امنیتی است.</p>

<h4>به‌اشتراک‌گذاری اطلاعات</h4>
<p>ما اطلاعات شما را با هیچ شخص ثالثی به اشتراک نمی‌گذاریم، مگر در موارد زیر:</p>

<ul>
    <li>با رضایت شما</li>
    <li>برای انجام خدماتی که توسط شخص ثالث ارائه می‌شود و به خدمات ما مربوط است</li>
    <li>در پاسخ به درخواست‌های قانونی</li>
</ul>

<h4>حقوق شما</h4>
<p>شما حق دارید:</p>

<ul>
    <li>به اطلاعات شخصی خود دسترسی داشته باشید</li>
    <li>درخواست اصلاح یا حذف اطلاعات شخصی خود را بدهید</li>
    <li>درخواست محدود کردن پردازش اطلاعات شخصی خود را بدهید</li>
</ul>

<h4>تغییرات در سیاست حفظ حریم خصوصی</h4>
<p>ما ممکن است این سیاست حفظ حریم خصوصی را در هر زمانی به‌روزرسانی کنیم. در صورت انجام تغییرات مهم، ما شما را از طریق ایمیل یا اعلان‌های سایت مطلع خواهیم کرد.</p>

<h4>تماس با ما</h4>
<p>اگر سوال یا نگرانی در مورد این سیاست حفظ حریم خصوصی دارید، لطفاً با ما تماس بگیرید:</p>

<ul>
    <li><strong>ایمیل آدرس:</strong> info@matn.ai</li>
</ul>

<p>این سیاست حفظ حریم خصوصی از ۲۱ تیر ۱۴۰۳ به اجرا درآمده است.</p>

</div>
</div>
</section>

{% endblock %}