{% extends "base.html" %}

{% block content %}

<section class="dashboard">
    <div class="container">
        <div class="row">
            <div class="terms-and-conditions">
                <h2>شرایط و قوانین استفاده از سایت</h2>
                
                
                <h3>مقدمه</h3>
                <p>به سایت هوش مصنوعی متن خوش آمدید. این سایت زیرمجموعی از نوآهاب میباشد استفاده از این سایت به معنای پذیرش شرایط و قوانین زیر است. لطفاً این شرایط و قوانین را به دقت مطالعه کنید. در صورت عدم موافقت با هر یک از موارد ذکر شده، لطفاً از استفاده از سایت خودداری کنید.</p>
                
                
                <h3>ثبت‌نام و حساب کاربری</h3>
                <ul>
                <li>برای دسترسی به برخی از خدمات سایت، ممکن است نیاز به ثبت‌نام و ایجاد حساب کاربری داشته باشید.</li>
                <li>شما مسئول حفظ محرمانگی اطلاعات حساب کاربری خود هستید و باید از دسترسی غیرمجاز به حساب خود جلوگیری کنید.</li>
                <li>شما موافقت می‌کنید که اطلاعات صحیح و کامل ارائه دهید و در صورت تغییر اطلاعات، آن‌ها را به‌روزرسانی کنید.</li>
                </ul>
                
                
                <h3>حریم خصوصی</h3>
                <ul>
                <li>اطلاعات شخصی شما مطابق با سیاست حفظ حریم خصوصی ما جمع‌آوری و استفاده می‌شود.</li>
                <li>استفاده از سایت به معنای پذیرش سیاست حفظ حریم خصوصی ما است.</li>
                </ul>
                
                
                <h3>استفاده مناسب</h3>
                <ul>
                <li>شما موافقت می‌کنید که از سایت به صورت قانونی و مطابق با تمامی قوانین و مقررات جاری استفاده کنید.</li>
                <li>شما متعهد می‌شوید که از سایت برای انجام هر گونه فعالیت غیرقانونی، تقلبی یا آسیب‌زا استفاده نکنید.</li>
                </ul>
                
                
                <h3>محدودیت مسئولیت</h3>
                <ul>
                <li>ما تمام تلاش خود را می‌کنیم تا خدمات و محتوای سایت دقیق و بدون خطا باشد، اما هیچ گونه ضمانتی در این زمینه نمی‌دهیم.</li>
                <li>ما مسئولیتی در قبال خسارات ناشی از استفاده از سایت یا ناتوانی در استفاده از آن نداریم.</li>
                </ul>
                
                
                <h3>تغییرات در شرایط و قوانین</h3>
                <ul>
                <li>ما حق داریم در هر زمانی این شرایط و قوانین را تغییر دهیم. تغییرات از زمان انتشار در سایت مؤثر خواهند بود.</li>
                <li>شما موافقت می‌کنید که به صورت دوره‌ای شرایط و قوانین را بررسی کنید و از تغییرات آگاه شوید.</li>
                </ul>
                
                
                <h3>قوانین قابل اجرا</h3>
                <p>این شرایط و قوانین تحت حاکمیت قوانین ایران قرار دارد و هر گونه اختلاف ناشی از استفاده از سایت باید در محاکم صالحه این کشور بررسی شود.</p>
                
                
                <h3>تماس با ما</h3>
                <p>در صورت وجود سوال یا ابهام در مورد این شرایط و قوانین، لطفاً با ما تماس بگیرید:</p>
                <ul>
                <li><strong>ایمیل:</strong> info@matn.ai</li>
                </ul>
                
                
                <p>این شرایط و قوانین از ۲۱ تیر ۱۴۰۳ به اجرا درآمده است.</p>
                </div>
</div>
</div>
</section>

{% endblock %}