{% extends "dashboard/dashboard.html" %}
{% block dashboard %}

{% if contents %}
<style>
  #listing-table tbody td:hover {
    cursor: pointer;
  }
</style>
<div class="dashboard-card d-flex flex-md-column align-items-start justify-content-start p-4" style="min-height: 65vh;">
  <div style="min-height: 65vh;" class="w-100">
    <table class="table table-hover" id="listing-table">
      <thead class="">
        <tr>
          <td class="text-center p-4" style="min-width: 250px;">عنوان</td>
          <td class="text-center p-4">کلمات</td>
          <td class="text-center p-4">نوع محتوا</td>
          <td class="text-center p-4">تاریخ</td>
          <td class="text-center p-4"></td>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        {% for content in contents %}
        <tr>
          <td class="text-center p-4" onclick="openContent('{{ content.content_type }}', '{{ content.id }}')">
            <div id="content-title-{{ content.id }}">
              {% if content.system_title %}
              {{ content.system_title | safe }}
              {% else %}
              <span class="loading-placeholder rounded status-{{ content.id }}"></span>
              {% endif %}
            </div>
          </td>
          <td class="text-center p-4">
            <div id="content-wc-{{ content.id }}">
              {% if content.word_count %}
              {{ content.word_count | to_persian_num }}
              {% else %}
              <span class="loading-placeholder rounded status-{{ content.id }}"></span>
              {% endif %}
            </div>
          </td>
          <td class="text-center p-4">{{ content.content_type | show_content_type }}</td>
          <td class="text-center p-4">{{ content.timestamp | gregorian_to_jalali_detail }}</td>
          <td class="text-center p-4">
            <div class="dropdown">
              <button class="btn btn-link dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
              </button>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="#"
                    onclick="openContent('{{ content.content_type }}', '{{ content.id }}')">
                    <i class="fa-solid fa-pen me-2"></i> ویرایش
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" href="#" onclick="showInfoModal('{{ content.id }}')">
                    <i class="fa-solid fa-info-circle me-2"></i> اطلاعات
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" href="#" onclick="showDeleteModal('{{ content.id }}')">
                    <i class="fa-solid fa-trash me-2"></i> حذف
                  </a>
                </li>
              </ul>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
      {% if next_url %}
      <li class="page-item">
        <a class="page-link" href="{{ next_url }}">
          <i class="fa fa-arrow-right"></i>
        </a>
      </li>
      {% endif %}
      {% if prev_url %}
      <li class="page-item">
        <a class="page-link" href="{{ prev_url }}">
          <i class="fa fa-arrow-left"></i>
        </a>
      </li>
      {% endif %}
    </ul>
  </nav>
</div>

{% else %}
<div class="dashboard-card d-flex flex-md-column align-items-start justify-content-start p-4">
  <div id="dashboard-content" class="w-100 d-flex flex-column justify-content-center" style="min-height: 65vh;">
    <div class="d-flex justify-content-center align-items-center flex-grow-1" style="min-height: 65vh;">
      <span class="p-4 rounded bg-light text-dark text-center align-bottom border-1" style="width: 300px;">
        هنوز محتوایی تولید نکرده‌اید
      </span>
    </div>
  </div>
</div>
{% endif %}

<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='js/modals.js') }}"></script>

<script>
  function openContent(contentType, contentId) {
    let url;
    switch (contentType) {
      case '0':
        url = "{{ url_for('dashboard.article_blog', id='') }}" + contentId;
        break;
      case '1':
        url = "{{ url_for('dashboard.article_pro_View', id='') }}" + contentId;
        break;
      case '2':
        url = "{{ url_for('dashboard.translate_to_persian_file', id='') }}" + contentId;
        break;
      case '3':
        url = "{{ url_for('dashboard.translate_to_persian', id='') }}" + contentId;
        break;
      default:
        url = "{{ url_for('dashboard.article_pro_View', id='') }}" + contentId;
        break;
    }
    window.location.href = url;
  }

  function showInfoModal(contentId) {
    $.ajax({
      url: `/dashboard/article/info/${contentId}`,
      type: 'GET',
      success: function (data) {
        console.log(data)
        const inputs = JSON.parse(data.info.inputs);
        if (data.info.word_count == "None")
          data.info.word_count = "-"
        // const article_length = data.info["article_length"]
        const modalBodyContent = `<ul class="list-group list-group-horizontal w-100"> \ 
          <li class="list-group-item w-25">موضوع</li> \
          <li class="list-group-item w-75">${inputs['user_topic']}</li> \      
        </ul> \
        <ul class="list-group list-group-horizontal w-100 mt-2"> \ 
          <li class="list-group-item w-25">نوع محتوا</li> \
          <li class="list-group-item w-75">${data.info.content_type}</li> \      
        </ul>
        <ul class="list-group list-group-horizontal w-100 mt-2"> \ 
          <li class="list-group-item w-25">وضعیت</li> \
          <li class="list-group-item w-75">${data.info.job_status}</li> \      
        </ul>
        <ul class="list-group list-group-horizontal w-100 mt-2"> \ 
          <li class="list-group-item w-25">تاریخ تولید</li> \
          <li class="list-group-item w-75">${data.info.timestamp}</li> \      
        </ul>
        <ul class="list-group list-group-horizontal w-100 mt-2"> \ 
          <li class="list-group-item w-25">تعداد کلمات</li> \
          <li class="list-group-item w-75">${data.info.word_count}</li> \      
        </ul>
        `;
        const modalFooterContent = '<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">بستن</button>';
        createAndOpenModal('infoModal', 'اطلاعات محتوا', modalBodyContent, modalFooterContent);
      }
    });

  }

  function showDeleteModal(contentId) {
    const modalBodyContent = '<p>آیا مطمئن هستید که می‌خواهید این محتوا را حذف کنید؟</p>';
    const modalFooterContent = `
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">لغو</button>
      <button type="button" class="btn btn-danger" onclick="deleteContent('${contentId}')">حذف</button>
    `;
    createAndOpenModal('deleteModal', 'حذف محتوا', modalBodyContent, modalFooterContent);
  }

  function deleteContent(contentId) {
    $.ajax({
      url: `/dashboard/article/delete/${contentId}`,
      type: 'DELETE',
      success: function (result) {
        location.reload();
      }
    });
  }

  $(document).ready(function () {
    function checkJobStatus(jobId, contentId) {
      $.get(`/dashboard/article//status/${jobId}`, function (data) {
        if (data.status === 'SUCCESS') {
          $(`.status-${contentId}`).hide();
          $.get(`/dashboard/article/blog/list/${contentId}`, function (data) {
            $(`#content-title-${contentId}`).html(data.title);
            $(`#content-wc-${contentId}`).html(data.count);
          });
        } else {
          setTimeout(() => checkJobStatus(jobId, contentId), 2000);
        }
      }).fail(function (xhr, status, error) {
      });
    }

    {% for content in contents %}
    {% if content.job_status != "SUCCESS" %}
    checkJobStatus('{{ content.job_id }}', '{{ content.id }}');
    {% endif %}
    {% endfor %}
  });
</script>
{% endblock %}