{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}متن | بازنشانی رمزعبور{% endblock %}

{% block content %}
<section class="login d-flex align-items-center">
    <div class="container">
        <div class="row py-4 justify-content-center">
            <div class="col-lg-5">
                <div class="card login-form-card">
                    <div class="card-body p-md-5">
                        <h3 class="login-heading mb-4 mb-md-5">بازنشانی رمزعبور</h3>
                        <form  action="{{url_for('auth.password_reset', token=token, email=email)}}" class="form-group mb-4 mt-2" method="POST">
                            {{ form.hidden_tag() }}
                            <div class="form-group mb-4 mt-2">
                                <input type="text" name="email" class="form-control text-center" disabled='disabled' value="{{ email }}" />
                            </div>

                            <div class="form-group mb-4 mt-2">
                                <label for="email" class="mb-2">
                                    {{ form.password.label }} 
                                </label>
                                {{ form.password(size=32, class_="form-control") }}
                            </div>
                            <div class="form-group mb-4 mt-2">
                                <label for="email" class="mb-2">
                                    {{ form.password2.label }} 
                                </label>
                                {{ form.password2(size=32, class_="form-control") }}
                            </div>
                            <div class="form-group text-center mt-4 pt-4">
                                {{ form.submit(class_="btn btn-primary text-white w-50") }}
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}