{% extends "base.html" %}

{% block title %}به‌نویس - حساب خود را تایید کنید{% endblock %}

{% block content %}
<div class="container">
    <div class="dashboard">
        <div class="dashboard-card card">
        <h1 class="p-4">
            سلام، {{ current_user.username }}!
        </h1>
        <h3 class="p-4">شما هنوز حساب خود را تایید نکرده‌اید.</h3>
        <p class="p-4 bg-light">
            قبل از اینکه بتوانید به این سایت دسترسی پیدا کنید، نیاز است که حساب خود را تایید کنید.
            صندوق ورودی ایمیل خود را بررسی کنید، باید ایمیلی با لینک تایید دریافت کرده‌باشید.
        </p>
        <p class="p-4">
            نیاز به ارسال ایمیل تایید دیگر دارید؟
            <a href="{{ url_for('auth.resend_confirmation') }}" class="btn btn-outline-primary">اینجا کلیک کنید</a>
        </p>
    </div>
    
</div>
{% endblock %}