{% extends "dashboard/dashboard.html" %}
{% block dashboard %}
<style>
    .wizard.vertical .wizard-nav {
        padding-right: 0px;
    }

    .wizard.vertical .wizard-content {
        min-height: 660px;
    }
</style>
<div class="row">
    <div class="col-12 mr-auto mx-auto">
        <div class="d-flex">
            <div class="p-2 ">
                <h4 class="">تولید مقاله حرفه‌ای</h4>
            </div>
            <div class="p-2 ms-auto">
                <span class="d-inline-flex mb-3 px-2 py-1 fw-semibold text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-2">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                        <label class="form-check-label" for="flexSwitchCheckDefault">نسخه پلاس</label>
                    </div>
                </span>
            </div>
            <div class=" p-2">
                <span class="d-inline-flex mb-3 px-2 py-1 fw-semibold text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-2">زمان تقریبی ۴ تا ۶ دقیقه</span>
            </div>
        </div>
        <div class="bg-white rounded p-4 card-shadow">
            <div class="d-flex justify-content-between mb-4 w-100"></div>
            <form class="wizard" id="formWizard" class="p-2">
                <aside class="wizard-content container border p-4 mb-4 rounded">
                    <div class="wizard-step" data-title="تنظیمات مقاله">
                        <form id="form_step1" class="form-group mb-4 mt-4" action="{{ url_for('dashboard.article_pro') }}" method="post">
                            {{ form.hidden_tag() }}
                            <div class="form-group mb-4 mt-2">
                                <label for="user_topic" class="mb-2">{{ form.user_topic.label }}</label>
                                {{ form.user_topic(size=500, class_="form-control", style="max-height: 100px;" ) }}
                                <div class="form-text">عنوان یا شرح موضوع مقاله را وارد کنید.</div>
                            </div>
                            <div class="form-group mb-4 mt-2 pb-4">
                                <label for="tags" class="mb-2">{{ form.main_tag.label }}</label>
                                {{ form.main_tag(size=40, id="tags-input", class="form-control") }}
                                <div class="form-text">پس از وارد کردن هر کلمه Enter بزنید.</div>
                            </div>
                            <div class="form-group mb-4 mt-2 pb-4">
                                <label for="tags" class="mb-2">{{ form.tags.label }}</label>
                                {{ form.tags(size=40, id="tags-input", class="form-control") }}
                                <div class="form-text">پس از وارد کردن هر کلمه Enter بزنید.</div>
                            </div>
                            <div class="row mb-4">
                                <div class="col-6">
                                    <div class="form-floating">
                                        <select class="form-select" id="floatingSelectTone" aria-label="Floating label select example">
                                            <option selected>لحن متن</option>
                                            <option value="1">عادی</option>
                                            <option value="2">حرفه‌ای</option>
                                            <option value="3">Three</option>
                                        </select>
                                        <label for="floatingSelectTone">لحن نوشتار متن را انتخاب کنید</label>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-floating">
                                        <select class="form-select" id="floatingSelectPronoun" aria-label="Floating label select example">
                                            <option selected>ضمیر</option>
                                            <option value="1">عادی</option>
                                            <option value="2">حرفه‌ای</option>
                                            <option value="3">Three</option>
                                        </select>
                                        <label for="floatingSelectPronoun">ضمیر را انتخاب کنید</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-floating">
                                        <select class="form-select" id="floatingSelectTone" aria-label="Floating label select example">
                                            <option selected>عمومی</option>
                                            <option value="1">حرفه‌ای</option>
                                            <option value="2">حرفه‌ای</option>
                                            <option value="3">Three</option>
                                        </select>
                                        <label for="floatingSelectTone">مخاطب نوشتار را انتخاب کنید</label>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-floating">
                                        <select class="form-select" id="floatingSelectPronoun4" aria-label="Floating label select example">
                                            <option selected>تا ۳۰۰۰ کلمه</option>
                                            <option value="1">عادی</option>
                                            <option value="2">حرفه‌ای</option>
                                            <option value="3">Three</option>
                                        </select>
                                        <label for="floatingSelectPronoun4">طول نوشتار را انتخاب کنید</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mb-4 mt-4">
                                <div class="w-100 p-3 text-right">زبان نوشتار را انتخاب کنید</div>
                                <div class="w-100 p-3 text-center">
                                    <input type="radio" class="btn-check" name="options-outlined" id="fa-outlined" autocomplete="off" checked>
                                    <label class="btn btn-outline-primary" for="fa-outlined">
                                        <span class="fi fi-ir me-1"></span>فارسی
                                    </label>
                                    <input type="radio" class="btn-check" name="options-outlined" id="en-outlined" autocomplete="off">
                                    <label class="btn btn-outline-primary" for="en-outlined">
                                        <span class="fi fi-us me-1"></span>English
                                    </label>
                                    <input type="radio" class="btn-check" name="options-outlined" id="ar-outlined" autocomplete="off">
                                    <label class="btn btn-outline-primary" for="ar-outlined">
                                        <span class="fi fi-ae me-1"></span>عربى
                                    </label>
                                    <input type="radio" class="btn-check" name="options-outlined" id="fr-outlined" autocomplete="off">
                                    <label class="btn btn-outline-primary" for="fr-outlined">
                                        <span class="fi fi-fr me-1"></span>Français
                                    </label>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="wizard-step" data-title="منابع و ورودی‌ها">
                        <div class="row">
                            <div class="col-11 mr-auto mx-auto">
                                <div class="w-100 p-2 mb-2 mt-2 text-primary-emphasis">
                                     حداکثر ۵ منبع می‌توانید انتخاب کنید
                                </div>
                                <div id="selected-resources">
                                    <!-- Selected resources will be appended here -->
                                </div>
                                <div class="d-flex justify-content-end mt-3">
                                    <input type="file" id="file-upload" class="d-none" />
                                    <button class="btn btn-primary" id="upload-button">
                                        <i class="fa-solid fa-upload me-2"></i>
                                        <span>آپلود فایل</span>
                                        <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                                    </button>
                                </div>
                            </div>
                            <div class="col-11 mr-auto mx-auto mt-4 pt-4">
                                <div class="form-group">
                                    <label for="search_in_resource" class="mb-3">جستجو در منابع</label>
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" placeholder="جستجو در منابع" name="search_in_resource" aria-label="جستجو" aria-describedby="button-addon2">
                                        <button class="btn btn-outline-secondary" type="button" id="button-addon2">
                                            <i class="fa-solid fa-magnifying-glass"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="list-group mt-3" style="overflow-y: auto; height: 650px;" id="resource-result">
                                    <!-- Resources will be appended here -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wizard-step" data-title="انتخاب تیتر مقاله">
                        <div class="d-flex justify-content-between mb-2">
                            <div class="p-2 mb-2 mt-2 text-primary-emphasis">
                                یکی از تیتر های پیشنهادی برای نوشتار را انتخاب کنید
                           </div>
                            <button class="btn btn-link" id="refresh-suggest-titles" type="button">
                                <i class="fa-solid fa-arrows-rotate me-2"></i>
                            </button>
                        </div>
                        <ul class="p-3 rounded list-group" id="suggest-titles">

                        </ul>

                    </div>
                    <div class="wizard-step" data-title="انتخاب عناوین مقاله">

                        
                        <div class="w-100 p-2 mb-2 mt-2 text-primary-emphasis">
                            یکی از تیتر های پیشنهادی برای نوشتار را انتخاب کنید:
                       </div>
                        <ul class="p-3 rounded list-group" id="suggest-titles">

                        </ul>
                        <div class="d-flex justify-content-end">
                            <button class="btn btn-outline-info" id="refresh-suggest-titles" type="button">
                                <i class="fa-solid fa-arrows-rotate"></i>
                            </button>
                        </div>


                        <div class="d-flex justify-content-end mt-3">
                            <input type="file" id="final-file-upload" class="d-none" />
                            <button class="btn btn-primary" id="final-upload-button">
                                <i class="fa-solid fa-upload me-2"></i>
                                <span>آپلود فایل نهایی</span>
                                <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                </aside>
            </form>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='js/tagify.min.js') }}"></script>
<script>
    $(document).ready(function () {
        let maxSelectedResources = 5;

        function updateResourceCount() {
            let selectedCount = $("#selected-resources .row").length;
            let remaining = maxSelectedResources - selectedCount;
            $("#resource-result .add-resource").toggle(remaining > 0);
        }

        function addResource(key, type, title, url) {
            if ($("#selected-resources .row").length >= maxSelectedResources) {
                alert('You can select up to ' + maxSelectedResources + ' resources only.');
                return;
            }

            let badgeClass = type === 'file' ? 'text-bg-secondary' : 'text-bg-primary';
            let selectedRow = `<div class="row p-1 rounded border mt-2" id="${key}-selected">
                <div class="col-3 p-2 text-right">
                    <i class="fa-solid fa-circle-minus text-danger remove-resource"></i>                             
                    <i class="fa-solid fa-pen-to-square text-primary"></i>                                        
                </div>
                <div class="col-9 p-2" style="direction: ltr; text-align: left;">
                    <span class="badge ${badgeClass} ms-2">${type === 'file' ? 'فایل' : 'وب'}</span>
                    <a class="link-primary" href="${url}">${title}</a>    
                </div>
            </div>`;
            $("#selected-resources").append(selectedRow);

            // Add remove event listener
            $(".remove-resource").off('click').on("click", function () {
                let selectedResource = $(this).closest(".row");
                selectedResource.remove();
                updateResourceCount();
            });

            updateResourceCount();
        }

        let wz_class = ".wizard";
        let args = {
            wz_class: wz_class,
            wz_nav_style: "dots",
            wz_ori: "vertical",
            buttons: true,
            navigation: "all",
            next: "بعدی",
            prev: "قبلی",
            wz_button: ".btn-outline-primary",
            wz_next: ".m-2",
            wz_prev: ".btn-outline-secondary"
        };

        const wizard = new Wizard(args);
        wizard.init();

        let $wz_doc = document.querySelector(wz_class);

        $wz_doc.addEventListener("wz.btn.next", function (e) {
            if (wizard.current_step === 0) {
                var request = {
                    "user_topic": $("input[name='main_tag']").val()
                };

                $.ajax({
                    type: 'POST',
                    url: "{{ url_for('dashboard.get_resources') }}",
                    data: JSON.stringify(request),
                    contentType: "application/json",
                    processData: false,
                    success: function (response) {
                        $("#resource-result").empty();
                        $.each(response, function (key, value) {
                            let row = `<li class="border border-light-subtle p-2 rounded list-group-item mb-2 p-2" aria-current="true" id="${key}-source" data-key="${key}">
                                <div class="d-flex w-100 justify-content-start">
                                    <p class="mb-1 p-2 ">
                                        <a class="link-primary me-2 add-resource"><i class="fa-solid fa-circle-plus"></i></a>
                                        ${value['title']}
                                    </p>
                                </div>
                                <p class="mb-1 text-secondary mt-2 small">${value['content']}</p>
                                <div class='w-100 fst-italic' style="direction: ltr; text-align:left;">
                                    <small><a class="link-primary mt-2" href="${decodeURIComponent(value['url'])}">${decodeURIComponent(value['url'])}</a></small>
                                </div>
                            </li>`;
                            $("#resource-result").append(row);
                        });

                        // Add event listener to dynamically added elements
                        $(".add-resource").off('click').on("click", function () {
                            let resourceItem = $(this).closest("li");
                            let key = resourceItem.data("key");
                            let title = resourceItem.find('a.link-primary').text();
                            let url = resourceItem.find('a.link-primary').attr('href');

                            addResource(key, 'web', title, url);
                            resourceItem.remove();
                        });

                        updateResourceCount();
                    },
                    error: function (error) {
                        console.log('Error:', error);
                    }
                });
            } else if (wizard.current_step === 1) {
                
                var request = {
                    "user_topic": $("input[name='main_tag']").val()
                };
                $("#refresh-suggest-titles").click(function(){

                    $.ajax({
                        type: 'POST',
                        url: "{{ url_for('dashboard.get_titles') }}",
                        data: JSON.stringify(request),
                        contentType: "application/json",
                        processData: false,
                        success: function (response) {
                            $("#suggest-titles").html(''); 
                            $.each(response, function (key, value) {
                                let row = `<li class="list-group-item mt-2 mb-2 p-2 text-bg-light rounded" id="titles-${key}">
                                    <input class="form-check-input me-1" type="radio" name="listGroupRadio value="" id="titles-checkbox-${key}">
                                    <label class="form-check-label" for="titles-checkbox-${key}">${value}</label>
                                  </li>`
                                $("#suggest-titles").append(row); 
                            });
                            console.log('Titles saved:', response);
                        },
                        error: function (error) {
                            console.log('Error:', error);
                        }
                    });
                });
                // AJAX call on step 3


                $.ajax({
                    type: 'POST',
                    url: "{{ url_for('dashboard.get_titles') }}",
                    data: JSON.stringify(request),
                    contentType: "application/json",
                    processData: false,
                    success: function (response) {
                        $("#suggest-titles").html(''); 
                        $.each(response, function (key, value) {
                            let row = `<li class="list-group-item mt-2 mb-2 p-2 text-bg-light rounded" id="titles-${key}">
                                <input class="form-check-input me-1" type="radio" value="" id="titles-checkbox-${key}">
                                <label class="form-check-label" for="titles-checkbox-${key}">${value}</label>
                              </li>`
                            $("#suggest-titles").append(row); 
                        });
                        console.log('Titles saved:', response);
                    },
                    error: function (error) {
                        console.log('Error:', error);
                    }
                });
            }
        });

        // File upload handling on step 2
        $('#upload-button').on('click', function (e) {
            e.preventDefault();
            $('#file-upload').click();
        });

        $('#file-upload').on('change', function () {
            if ($("#selected-resources .row").length >= maxSelectedResources) {
                alert('You can select up to ' + maxSelectedResources + ' resources only.');
                return;
            }

            var formData = new FormData();
            var file = $('#file-upload')[0].files[0];
            formData.append('file', file);

            var $uploadButton = $('#upload-button');
            $uploadButton.find('.spinner-border').removeClass('d-none');
            $uploadButton.prop('disabled', true);

            $.ajax({
                url: '{{ url_for("dashboard.upload_resource") }}',
                type: 'POST',
                data: formData,
                contentType: false,
                processData: false,
                success: function (data) {
                    addResource(data.filename, 'file', data.filename, data.url);
                    $uploadButton.find('.spinner-border').addClass('d-none');
                    $uploadButton.prop('disabled', false);
                    $('#file-upload').val('');
                },
                error: function (error) {
                    $uploadButton.find('.spinner-border').addClass('d-none');
                    $uploadButton.prop('disabled', false);
                }
            });
        });

        // File upload handling on the last step
        $('#final-upload-button').on('click', function (e) {
            e.preventDefault();
            $('#final-file-upload').click();
        });

        $('#final-file-upload').on('change', function () {
            var formData = new FormData();
            var file = $('#final-file-upload')[0].files[0];
            formData.append('file', file);

            var $uploadButton = $('#final-upload-button');
            $uploadButton.find('.spinner-border').removeClass('d-none');
            $uploadButton.prop('disabled', true);

            $.ajax({
                url: '{{ url_for("dashboard.upload_resource") }}',
                type: 'POST',
                data: formData,
                contentType: false,
                processData: false,
                success: function (data) {
                    console.log('Final file uploaded:', data);
                    $uploadButton.find('.spinner-border').addClass('d-none');
                    $uploadButton.prop('disabled', false);
                    $('#final-file-upload').val('');
                },
                error: function (error) {
                    console.log('Error:', error);
                    $uploadButton.find('.spinner-border').addClass('d-none');
                    $uploadButton.prop('disabled', false);
                }
            });
        });

        $wz_doc.addEventListener("wz.end", function (e) {
            alert("Wizard End");
        });

        $wz_doc.addEventListener("wz.error", function (e) {
            console.log(`↓ ID ↓`);
            console.log(e.detail.id); // form_validaton
            console.log(`↓ Message ↓`);
            console.log(e.detail.msg); //options.i18n.form_validation
        });

        updateResourceCount();
    });
</script>
{% endblock %}
