
{% extends "dashboard/dashboard.html" %}
{% block dashboard %}
<div class="row">
    <div class="col-4">
        <div class="bg-white rounded p-4 card-shadow">
            <div class="mb-4 w-100 text-center">
                <h4 class="flex-fill pb-4">تولید پست بلاگ</h4>
            </div>
            <form id="submission_form" class="form-group mb-4 mt-2" action="{{ url_for('dashboard.article_blog') }}" method="post">
                {{ form.hidden_tag() }}
                <div class="form-group mb-2 mt-2">
                    <label for="user_topic" class="mb-2">{{ form.user_topic.label }}</label>
                    {{ form.user_topic(size=500, class_="form-control", style="max-height: 100px;" ) }}
                    <div class="form-text">عنوان یا شرح موضوع پست بلاگ را وارد کنید.</div>
                </div>
                <div class="mb-4 text-center pt-4 pb-4">
                    <div class="btn-group" role="group" aria-label="Article length toggle">
                        {% for subfield in form.article_length %}
                            <input type="radio" class="btn-check" id="{{ subfield.id }}" name="{{ subfield.name }}" value="{{ subfield.data }}"
                                {% if subfield.checked %} checked {% endif %}>
                            <label class="btn btn-outline-primary" for="{{ subfield.id }}" data-toggle="tooltip" title="{{ subfield.label.text }}">{{ subfield.label.text }}</label>
                        {% endfor %}
                    </div>
                </div>
                <div class="mb-4 mt-2 pb-4">
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon3">{{ form.lang.label }}</span>
                        {{ form.lang(class_="form-control", aria_describedby="basic-addon3 lang-addon") }}
                    </div>
                </div>
                <div class="form-group mb-4 mt-2 pb-4">
                    <label for="tags" class="mb-2">{{ form.tags.label }}</label>
                    {{ form.tags(size=40, id="tags-input", class="form-control") }}
                    <div class="form-text">پس از وارد کردن هر کلمه Enter بزنید.</div>
                </div>
                <div class="form-group text-center mt-4">
                    {{ form.submit(class="btn btn-primary text-white w-50", id="submit-form") }}
                </div>
                <div class="form-group mt-4 pt-4">
                    <div class="w-100 px-2 py-1 fw-semibold text-primary-emphasis  border border-primary-subtle rounded-2 text-center">
                        <i class="fa fa-clock"></i> زمان تقریبی: ۵ دقیقه
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-8">
        <div class="rounded card-shadow position-relative p-1">
            <div id="loading-content" class="text-center mr-auto mx-auto" style="display: none; height: 100%; width: 100%; position: absolute; background-color: rgba(255, 255, 255, 0.8); z-index: 100;">
                <div style="width: 320px;" class="mr-auto mx-auto position-absolute top-50 start-50 translate-middle">
                    <lottie-player src="{{ url_for('static', filename='media/content-create.json') }}" background="transparent" speed="1" loop autoplay></lottie-player>
                </div>
            </div>
            <div id="text-editor-area">
                {{ form.body(id="text-editor", class="form-control") }}
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='js/ckeditor.js') }}"></script>
<script src="{{ url_for('static', filename='js/tagify.min.js') }}"></script>

<script>
    let editor;

    ClassicEditor
        .create(document.querySelector('#text-editor'), {
            language: "fa",
            height: 500
        })
        .then(newEditor => {
            editor = newEditor;
        })
        .catch(error => {
            console.error(error);
        });

    // Initialize Tagify
    var input = document.getElementById('tags-input');
    tagify = new Tagify(input);

    $(function () {
        $('[data-toggle="tooltip"]').tooltip();

        $('input[name="article_length"]').change(function () {
            const tooltipText = this.id === 'long_article'
                ? 'پست بلند: +۳۰۰۰ کلمه'
                : 'پست کوتاه: ۲۱۰۰ تا ۲۴۰۰ کلمه';
            $('[for="' + this.id + '"]').attr('title', tooltipText).tooltip('dispose').tooltip();
        });

        {% if content %}
            $('#loading-content').show();
            $('#submission_form').find('input, textarea, button, select').prop('disabled', true);
            tagify.setReadonly(true);
            checkJobStatus('{{ content.job.job_id }}','{{ content.id }}')
            
        {% endif %}
    });

    $('#submission_form').submit(function (e) {
        e.preventDefault();

        // Show the loading content
        $('#loading-content').show();
        $('#submit-form').addClass('disable')
        tagify.setReadonly(true);

        // Serialize the form data
        var formData = $(this).serialize();
        $(this).find('input, textarea, button, select').prop('disabled', true);

        // Submit the form using AJAX
        $.ajax({
            type: "POST",
            url: "{{ url_for('dashboard.article_blog') }}",
            data: formData,
            success: function (data) {
                const jobId = data.job_id;
                const contentId = data.content_id;
                checkJobStatus(jobId, contentId);
            },
            error: function (xhr, status, error) {
                console.error(error);
            }
        });
    });

    function checkJobStatus(jobId, contentId) {
        $.get(`/dashboard/article/blog/status/cid/${jobId}`, function (data) {
            if (data.status === 'SUCCESS') {
                fetchContent(contentId);
            } else {
                setTimeout(() => checkJobStatus(jobId, contentId), 2000);
            }
        });
    }

    function fetchContent(contentId) {
        $.get(`/dashboard/article/blog/content/${contentId}`, function (data) {
            $('#loading-content').hide();
            editor.setData(data.content);
            tagify.setReadonly(false);
            $('#submission_form').find('input, textarea, button, select').prop('disabled', false);
        });
    }
</script>
{% endblock %}