{% extends "dashboard/dashboard.html" %}
{% block dashboard %}
<style>
    .rating {
        display: flex;
        direction: rtl;
    }
    .star {
        cursor: pointer;
        font-size: 2rem;
        color: #ccc;
        transition: color 0.3s;
    }
    .star:hover,
    .star.selected {
        color: #ff0;
    }
</style>
<div class="row">
    {% if content %}
        {% if content.job.job_status == "SUCCESS" %}
            {% if feedback == "" %}
                <div class="container rounded mb-2" id="feedback-msg">
                    
                    <div class="col-12">
                        <div
                        class="w-100 mb-3 px-2 py-1 fw-semibold text-success-emphasis bg-success-subtle border border-success-subtle rounded-2 text-center">
                        لطفا نظر خودتان را از متن تولید شده بنویسید. 
                        <button type="button" class="btn btn-link text-center text-decoration-none" id="feedbackButton">ثبت نظر</button>
                    </div>
                    </div>
                </div>
            {% endif %}
        {% endif %}
    {% endif %}
    <div class="col-4">
        <div class="bg-white rounded p-4 card-shadow">
            <div class="mb-4 w-100 text-center">
                <h4 class="flex-fill pb-4">تولید پست بلاگ</h4>
            </div>
            <form id="submission_form" class="form-group mb-4 mt-2" action="{{ url_for('dashboard.article_blog') }}"
                method="post">
                {{ form.hidden_tag() }}
                <div class="form-group mb-2 mt-2">
                    <label for="user_topic" class="mb-2">{{ form.user_topic.label }}</label>
                    {{ form.user_topic(size=500, class_="form-control", style="max-height: 100px;" ) }}
                    <div class="form-text">عنوان یا شرح موضوع پست بلاگ را وارد کنید.</div>
                </div>
                <div class="mb-4 text-center pt-4 pb-4">
                    <div class="btn-group" role="group" aria-label="Article length toggle">
                        {% for subfield in form.article_length %}
                        <input type="radio" class="btn-check" id="{{ subfield.id }}" name="{{ subfield.name }}"
                            value="{{ subfield.data }}" {% if subfield.checked %} checked {% endif %}>
                        <label class="btn btn-outline-primary" for="{{ subfield.id }}" data-toggle="tooltip"
                            title="{% if subfield.data == 'long' %}۱۵۰۰ تا ۲۰۰۰ کلمه{% else %}تا ۱۵۰۰ کلمه{% endif %}">
                            {{ subfield.label.text }}
                        </label>
                        {% endfor %}
                    </div>
                </div>
                <div class="mb-4 mt-2 pb-4">
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon3">{{ form.lang.label }}</span>
                        {{ form.lang(class_="form-control", aria_describedby="basic-addon3 lang-addon") }}
                    </div>
                </div>
                <div class="form-group mb-4 mt-2 pb-4">
                    <label for="tags" class="mb-2">{{ form.tags.label }}</label>
                    {{ form.tags(size=40, id="tags-input", class="form-control") }}
                    <div class="form-text">پس از وارد کردن هر کلمه Enter بزنید.</div>
                </div>
                <!-- <div class="form-text d-inline-flex mb-3 px-2 py-1 fw-semibold text-warning-emphasis bg-warning-subtle border border-warning-subtle rounded-2"><p>هزینه استفاده از مقاله بلاگ ۲ کلمه به ازای هر کلمه خروجی است</p></div> -->
                <div class="form-group text-center mt-4">
                    {{ form.submit(class="btn btn-primary text-white w-50", id="submit-form") }}
                </div>
            </form>
        </div>
    </div>
    <div class="col-8">
        <div class="row rounded  mb-2">
            {% if content %}
            {% if content.job.job_status == "SUCCESS" %}
            <div class="col-12">
                <div class="d-flex">
                    <div class="p-2">
                        <span
                            class="d-inline-flex mb-3 px-2 py-1 fw-semibold text-success-emphasis bg-success-subtle border border-success-subtle rounded-2">تعداد
                            کلمات: {{ content.word_count | to_persian_num }}</span>
                    </div>
                    <div class="p-2 ms-auto">
                        <span
                            class="d-inline-flex mb-3 px-2 py-1 fw-semibold text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-2">تاریخ
                            تولید: {{ content.timestamp | g2j_detail }}</span>
                    </div>
                    <div class="p-2">
                        <span
                            class="d-inline-flex mb-3 px-2 py-1 fw-semibold text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-2">مدت:
                            {{ content.job.running_duration | convert_seconds_to_min_sec }}</span>
                    </div>
                </div>
            </div>
            
            {% else %}


            <div class="col-12">
                <div class="d-flex">
                    <div class="p-2">
                        <span
                            class="d-inline-flex mb-3 px-2 py-1 fw-semibold text-success-emphasis bg-success-subtle border border-success-subtle rounded-2">زمان حدودی ۲ تا ۴ دقیقه</span>
                    </div>
                    <div class="p-2 ms-auto">
                        <span
                            class="d-inline-flex mb-3 px-2 py-1 fw-semibold text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-2">تاریخ
                            تولید: {{ content.timestamp | g2j_detail }}</span>
                    </div>
                    <!-- <div class="p-2">
                        <span
                            class="d-inline-flex mb-3 px-2 py-1 fw-semibold text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-2" id="article-info-timer">
                            ۰۰:۰۰
                            </span>
                    </div> -->
                </div>
            </div>

            {% endif %}
            {% else %}

            <div class="col-12">
                <div class="d-flex">
                    <div class="p-2">
                        <span
                            class="d-inline-flex mb-3 px-2 py-1 fw-semibold text-success-emphasis bg-success-subtle border border-success-subtle rounded-2">زمان حدودی ۴ تا ۶ دقیقه</span>
                    </div>
                    <div class="p-2 ms-auto" style="display: none;" id="article-date-container">
                        <span id="article-info-date"
                            class="d-inline-flex mb-3 px-2 py-1 fw-semibold text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-2">
                            </span>
                    </div>
                    <!-- <div class="p-2" style="display: none;" id="article-timer-container">
                        <span
                            class="d-inline-flex mb-3 px-2 py-1 fw-semibold text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-2" id="article-info-timer">
                            ۰۰:۰۰
                            </span>
                    </div> -->
                </div>
            </div>



            {% endif %}
        </div>
        
        <div class="rounded card-shadow position-relative p-1">
            <div id="loading-content" class="text-center mr-auto mx-auto"
                style="display: none; height: 100%; width: 100%; position: absolute; background-color: rgba(255, 255, 255, 0.8); z-index: 100;">
                <div style="width: 72px;" class="mr-auto mx-auto position-absolute top-50 start-50 translate-middle">
                    <lottie-player src="{{ url_for('static', filename='media/ai.json') }}"
                        background="transparent" speed="1" loop autoplay></lottie-player>
                </div>
            </div>
            <div id="text-editor-area">
                {{ form.body(id="text-editor", class="form-control") }}
            </div>
        </div>
    </div>
</div>
<div class="toast-container position-fixed top-0 start-0 p-3" id="toast-container">
</div>

<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='js/ckeditor.js') }}"></script>
<script src="{{ url_for('static', filename='js/tagify.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/toast.js') }}"></script>
<script src="{{ url_for('static', filename='js/modals.js') }}"></script>

<script>
    let editor;

    ClassicEditor
        .create(document.querySelector('#text-editor'), {
            language: "fa",
            toolbar: ['heading', '|' ,'undo', 'redo', 'bold', 'italic', 'link','numberedList', 'bulletedList'],
            height: 500
        })
        .then(newEditor => {
            editor = newEditor;
        })
        .catch(error => {
            console.error(error);
        });

    // Initialize Tagify
    var input = document.getElementById('tags-input');
    var tagify = new Tagify(input);



    function showFeedbackModal(contentId) {
        const modalBodyContent = `
            <p>لطفا میزان رضایت خود از متن را انتخاب کنید</p>
            <div class="rating justify-content-center p-3" style='direction: ltr;'>
                <span class="star" data-star="5">&#9733;</span>
                <span class="star" data-star="4">&#9733;</span>
                <span class="star" data-star="3">&#9733;</span>
                <span class="star" data-star="2">&#9733;</span>
                <span class="star" data-star="1">&#9733;</span>
            </div>
            <textarea class="form-control mt-3" id="feedback-body" placeholder="نظر خود را لطفا بنویسید..."></textarea>
        `;
        const modalFooterContent = `
            <button type="button" class="btn btn-primary" onclick="submitFeedback('${contentId}')" >ثبت نظر</button>
        `;  
        createAndOpenModal('createModal', 'نظرتان راجعبه متن', modalBodyContent, modalFooterContent);
    }

    function submitFeedback(contentId) {
        const selectedStar = document.querySelector('.star.selected');
        const feedbackText = $("#feedback-body").val();

        if (!selectedStar) {
            alert('Please select a rating.');
            return;
        }

        const rating = selectedStar.getAttribute('data-star');
        //console.log(rating)
        //console.log(feedbackText)
        

        //console.log('Feedback submitted:', { contentId, rating, feedbackText });
        var request = {
            "content_id": contentId,
            "rating": rating,
            "feedback": feedbackText
        };
        $.ajax({
            url: "{{ url_for('dashboard.article_feedback') }}",
            type: 'POST',
            data: JSON.stringify(request),
            contentType: "application/json",
            success: function (data) {
                showToast('نظر شما با موفقیت ثبت شد. با تشکر', 'success', 3000);
                $("#feedback-msg").hide()
                // console.log(data)
            },
            error: function () {
                alert('Error converting HTML to DOCX');
            }
        });

        // Close the modal after submitting feedback
        const modal = bootstrap.Modal.getInstance(document.getElementById('createModal'));
        modal.hide();
    }



    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();

        var contentId = '{{ content.id }}';
        $("#feedbackButton").on('click', function () {
            showFeedbackModal(contentId)
        });



        {% if content %}

        $('#submission_form').find('input, textarea, button, select').prop('disabled', true);
        tagify.setReadonly(true);

        {% if content.job.job_status != "SUCCESS" %}
        $('#loading-content').show();
        checkJobStatus('{{ content.job.job_id }}', '{{ content.id }}');
        startTimer('{{ content.job.created_at }}')

        {% endif %}
        {% endif %}
    });

    $('#submission_form').submit(function (e) {
        e.preventDefault();

        // Show the loading content
        $('#loading-content').show();
        $('#submit-form').addClass('disable');
        tagify.setReadonly(true);

        // Serialize the form data
        var formData = $(this).serialize();
        $(this).find('input, textarea, button, select').prop('disabled', true);

        // Submit the form using AJAX
        $.ajax({
            type: "POST",
            url: "{{ url_for('dashboard.article_blog') }}",
            data: formData,
            success: function (data) {
                const jobId = data.job_id;
                const contentId = data.content_id;
                const job_date = data.job_date;

                
                $('.info-detail').show();
                $('#article-info-date').html(job_date);
                $('#article-info-timer').show();
                $('#article-date-container').show();
                $('#article-timer-container').show();

                    // Construct the URL with the contentId dynamically
                    const redirectUrl = "{{ url_for('dashboard.article_blog', id='') }}" + contentId;

                    // Redirect to the newly constructed URL
                    window.location.href = redirectUrl;
                // startTimer();
                // checkJobStatus(jobId, contentId);
            },
            error: function (xhr, status, error) {
                $('#loading-content').hide();
                $('#submission_form').find('input, textarea, button, select').prop('disabled', false);
                tagify.setReadonly(false);
            }
        });
    });

    function startTimer(startDate = null) {
        if (startDate) {
            var start = new Date(startDate);
        } else {
            var start = new Date();
        }
        setInterval(function () {
            var now = new Date();
            var elapsed = Math.floor((now - start) / 1000);
            var hours = Math.floor(elapsed / 3600);
            var minutes = Math.floor((elapsed % 3600) / 60);
            var seconds = elapsed % 60;

            function pad(number) {
                return number < 10 ? '0' + number : number;
            }

            function toPersianNumber(number) {
                var persianMap = {
                    '0': '۰', '1': '۱', '2': '۲', '3': '۳', '4': '۴',
                    '5': '۵', '6': '۶', '7': '۷', '8': '۸', '9': '۹'
                };
                return number.toString().split('').map(char => persianMap[char] || char).join('');
            }

            var time = `${toPersianNumber(pad(minutes))}:${toPersianNumber(pad(seconds))}`
            $("#article-info-timer").html(time)
        }, 1000);
    }

    function checkJobStatus(jobId, contentId) {
        $.get(`/dashboard/article//status/cid/${jobId}`, function (data) {
            if (data.status === 'SUCCESS') {
                $('#article-info-timer').html(data.running_duration);
                fetchContent(contentId);
            } else if (data.status === 'FAILURE') {
                $('#loading-content').hide();
                $('#submission_form').find('input, textarea, button, select').prop('disabled', false);
                tagify.setReadonly(false);
            } else {
                setTimeout(() => checkJobStatus(jobId, contentId), 5000);
            }
        });
    }

    function fetchContent(contentId) {
        window.location.reload()
        // $.get(`/dashboard/article/blog/content/${contentId}`, function (data) {
        //     $('#loading-content').hide();
        //     editor.setData(data.content);
        //     tagify.setReadonly(false);
        //     $('#word-count').val(data.content.word_count)
        //     $('#submission_form').find('input, textarea, button, select').prop('disabled', false);
        // });
    }
</script>
{% endblock %}