<div style="width: 80%; margin: 0 auto; direction: rtl; text-align: right; padding: 20px; border-radius: 20px;">
    
<p>کاربر عزیز {{ user.username }},</p>
<p>برای بازنشانی گذرواژه خود <a href="{{ url_for('auth.password_reset', token=token, _external=True) }}">اینجا کلیک کنید</a>.</p>
<p>همچنین می‌توانید لینک زیر را در نوار نشانی مرورگر خود کپی و پیست کنید:</p>
<p>{{ url_for('auth.password_reset', token=token, _external=True) }}</p>
<p>اگر شما درخواست بازنشانی گذرواژه نکرده‌اید، لطفاً این پیام را نادیده بگیرید.</p>
<p>با احترام،</p>
<p>تیم به‌نویس</p>
<p><small>توجه: به پیام‌های ارسالی به این نشانی ایمیل پاسخ داده نمی‌شود.</small></p>

</div>